---
// Bagian ini memanggil mesin React lama Anda
import App from '../App.tsx'; 

// INI YANG BARU: Memanggil "Cat" (CSS) Anda agar webnya rapi
import '../index.css';
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KNLM</title>
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
  </head>
  <body class="bg-slate-50 text-slate-900 m-0 p-0">
    
    <App client:only="react" />
    
  </body>
</html>